<h3 class="form-group">Posts</h3>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.model as |post index|}}
    <tr>
      <th scope="row">{{inc index}}</th>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{yield}}
