<BsNavbar
  @classNames="sticky-top"
  @type="dark"
  @backgroundColor="secondary"
  @collapsed={{true}}
  @onCollapse={{action (mut collapsed) true}}
  @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}REST API{{/link-to}}
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item @linkTo="index">Home</nav.item>
      <nav.item @linkTo="comments">Comments</nav.item>
      <nav.item @linkTo="photos">Photos</nav.item>
      <nav.item @linkTo="albums">Albums</nav.item>
      <nav.item @linkTo="todos">Todos</nav.item>
      <nav.item @linkTo="users">Users</nav.item>
      <nav.item @linkTo="all">All</nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
<br>
<div class="container">
  {{outlet}}
</div>
