<h3 class="form-group">Comments</h3>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.model as |comment index|}}
    <tr>
      <th scope="row">{{inc index}}</th>
      <td>{{comment.name}}</td>
      <td>{{comment.email}}</td>
      <td>{{comment.body}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}
