<h3 class="form-group">Photos</h3>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Url</th>
      <th scope="col">ThumbnailUrl</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.model as |photo index|}}
    <tr>
      <th scope="row">{{inc index}}</th>
      <td>{{photo.title}}</td>
      <td>{{photo.url}}</td>
      <td>{{photo.thumbnailUrl}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
