<h3 class="form-group">Todos</h3>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.model as |todo index|}}
    <tr>
      <th scope="row">{{inc index}}</th>
      <td>{{todo.title}}</td>
      <td>{{todo.completed}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
