<h3 class="form-group">Users</h3>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.model as |user index|}}
    <tr>
      <th scope="row">{{inc index}}</th>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
